<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultation Form - ReachMe</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link href="/tailwind.config.js" rel="script">
</head>
<body class="dark:bg-gray-900">

    <!--Navbar-->
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/">
                <h1 class="text-lg text-green-500 font-bold">ReachMe</h1>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="/" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-green-300 md:dark:hover:bg-transparent" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="/orderMeds" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-green-300 md:dark:hover:bg-transparent">Order Meds</a>
                    </li>
                    <li>
                        <a href="/consult" class="block py-2 px-3 text-white bg-green-700 rounded md:bg-transparent md:text-green-700 md:p-0 dark:text-white md:dark:text-green-500">Consult Dr.</a>
                    </li>
                    <li>
                        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Services<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                              <li>
                                <a href="/pa" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Prescription to Text</a>
                              </li>
                              <li>
                                <a href="/talk-to-ai" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Talk to AI</a>
                              </li>
                            </ul>
                        </div>
                      </li>
                    <li>
                        <a href="#" class="block py-2 px-3 text-black-500 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-600 md:p-0 dark:text-white md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-red-500 md:dark:hover:bg-transparent">Call Ambulance</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Main Section-->
    <section class="bg-white dark:bg-gray-900">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Consultation Form</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Please fill out all fields.</p>
                <img src="{{ url_for('static', filename='img/form-animated.svg') }}" alt="consult">
            </div>
            
            <div class="lg:mt-0 lg:col-span-5 lg:flex">
                <div class="min-h-full flex items-center justify-center">
                    <div class="container mx-auto">
                        <!-- Consultation Form -->
                        <form action="/submit-consult" method="POST" class="dark:bg-gray-800 bg-gray-100 shadow-md rounded px-8 pt-6 pb-8 mt-6">
                            <div class="mb-4">
                                <label for="name" class="block dark:text-white text-sm mb-2">Name:</label>
                                <input type="text" id="name" name="name" required class="shadow appearance-none border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight">
                            </div>
                            <div class="mb-4">
                                <label for="phone" class="block text-gray-70 dark:text-white text-sm mb-2">Phone:</label>
                                <input type="text" id="phone" name="phone" required class="shadow appearance-none border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight">
                            </div>
                            <div class="mb-4">
                                <label for="problem" class="block text-gray-70 dark:text-white text-sm mb-2">Problem:</label>
                                <textarea id="problem" name="problem" required class="shadow appearance-none border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="doctor" class="block text-gray-70 dark:text-white text-sm mb-2">Select Doctor:</label>
                                <select id="doctor" name="doctor" required class="shadow appearance-none border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight">
                                    {% for doctor in doctors %}
                                        <option value="{{ doctor.name }}: {{ doctor.specialty }}">{{ doctor.name }} - {{ doctor.specialty }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="date" class="block text-gray-70 dark:text-white text-sm mb-2">Select Date:</label>
                                <input type="date" id="date" name="date" required class="shadow appearance-none border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight">
                            </div>
                            <div class="mb-4">
                                <label for="time_slot" class="block text-gray-70 dark:text-white text-sm mb-2">Select Time Slot:</label>
                                <input type="time" id="time_slot" name="time_slot" required class="shadow appearance-none border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight">
                            </div>
                            <div class="flex items-center justify-between">
                                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>                
        </div>
    </section>

    <!--Footer-->
    <footer class="bg-white shadow m-2 text-center dark:bg-gray-900">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="/" class="hover:underline">ReachMe™</a>. All Rights Reserved.</span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>